<div class="row">
	<div class="col-md-4 pull-right">
		<div class="input-group">
			<input type="text" class="form-control"></input>
			<span class="input-group-btn">
				<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span> </button>
			</span>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<%= image_tag "1.jpg" %>
			<div>
				<h3>test</h3>
				<p>testtesttesttesttesttesttesttesttesttesttest</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<%= image_tag "1.jpg" %>
			<div>
				<h3>test</h3>
				<p>testtesttesttesttesttesttesttesttesttesttest</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<%= image_tag "1.jpg" %>
			<div>
				<h3>test</h3>
				<p>testtesttesttesttesttesttesttesttesttesttest</p>
				<p>
					<a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车</a>
				</p>
			</div>
		</div>
	</div>
</div>
