<div class="btn-group btn-group-justified">
	<%= link_to '店铺管理', stores_path, class: 'btn btn-default' %>
	<%= link_to '地域管理', locates_path, class: 'btn btn-default' %>
	<%= link_to '菜系管理', product_catalogs_path, class: 'btn btn-default' %>
</div>
