<h1>修改菜系</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<%= form_for @product_catalog do |f| %>
	<div class="form-group">
		<%= f.label :name, '菜系名' %>
		<%= f.text_field :name, class: 'form-control', placeholder: '请输入菜系名' %>
	</div>
	<%= f.submit "更新", class: 'btn btn-lg btn-primary' %>
	<% end %>
	</div>
</div>
