<tr>
	<td><%= locate_item_counter+1 %></td>
	<td><%= locate_item.name %></td>
	<td>
		<%= link_to '编辑', edit_locate_path(locate_item) %>
		<%= link_to '删除', locate_path(locate_item), method: :delete, data: { confirm: "确定删除吗？" } %>
	</td>
</tr>
