<!--<div class="row">
	<div class="btn-group">
		<%= link_to "新建", new_locate_path, class: 'btn btn-default' %>
		<a class="btn btn-default" href="">删除</a>
	</div>
</div>-->
<h2>客官您在哪儿</h2>
<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>地区名</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<%= render partial:'locates/locate_item', collection: @locate_items %>
		</tbody>
	</table>
</div>
