<!--<div class="row">
	<div class="btn-group">
		<%= link_to "新建", new_locate_path, class: 'btn btn-default' %>
		<a class="btn btn-default" href="">删除</a>
	</div>
</div>-->
<h2>客官您在哪儿</h2>
<div class="row">
  <ul>
    <%= render partial:'locates/wxlocate_item', collection: @locate_items %>
  </ul>
</div>
