<button class="mce-colorbutton-grid">
  <span class="glyphicon glyphicon-arrow-left" />返回
</button>
<div class="divider"/><div class="row">
  <div class="col-xs-2">logo</div>
  <div class="col-xs-8">商铺艺术字</div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default">陪</button>
  <button type="button" class="btn btn-default">票</button>
  <button type="button" class="btn btn-default">卷</button>
  <button type="button" class="btn btn-default">减</button>
  <button type="button" class="btn btn-default">码</button>
  <button type="button" class="btn btn-default">点</button>
  <button type="button" class="btn btn-default">付</button>
  <button type="button" class="btn btn-default">7</button>
  <button type="button" class="btn btn-default">配</button>
</div>
<div class="row">
  <div class="col-xs-2">商品图片</div>
  <div class="col-xs-6">商品介绍</div>
  <div class="col-xs-2">+ / -</div>
</div>
<div class="row">
  <div class="col-xs-2">商品图片</div>
  <div class="col-xs-6">商品介绍</div>
  <div class="col-xs-2">+ / -</div>
</div>
<div class="row">
  <div class="col-xs-2">商品图片</div>
  <div class="col-xs-6">商品介绍</div>
  <div class="col-xs-2">+ / -</div>
</div>
<div class="row">
  <div class="col-xs-2">商品图片</div>
  <div class="col-xs-6">商品介绍</div>
  <div class="col-xs-2">+ / -</div>
</div>
