<button class="mce-colorbutton-grid">
  <span class="glyphicon glyphicon-arrow-left" />返回
</button>
<div class="divider"/>
<!--uorderlist-->
<div class="row">
  <div class="col-xs-2"><a href="#" class="thumbnail"><img data-src="holder.js/100x180" alt="100X180"></a></div>
  <!-- 每个店铺的必要信息，如：菜系，好评，地点，电话，状态 -->
  <div class="col-xs-3">introduce</div>
  <!-- 每个店铺的必要信息，如：菜系，好评，地点，电话，状态 -->
  <div class="col-xs-1">button</div>
</div>
<div class="row">
  <div class="col-xs-6">caixi</div>
</div>
<div class="divider"/>
<div class="row">
  <div class="col-xs-2"><a href="#" class="thumbnail"><img data-src="holder.js/100x180" alt="100X180"></a></div>
  <!-- 每个店铺的必要信息，如：菜系，好评，地点，电话，状态 -->
  <div class="col-xs-3">introduce</div>
  <!-- 每个店铺的必要信息，如：菜系，好评，地点，电话，状态 -->
  <div class="col-xs-1">button</div>
</div>
<div class="row">
  <div class="col-xs-6">caixi</div>
</div>

