<div class="row">
	<div class="btn-group">
		<%= link_to "新建", new_store_path, class: 'btn btn-default' %>
		<a class="btn btn-default" href="">删除</a>
	</div>
</div>
<br>
<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>商铺名</th>
				<th>logo</th>
				<th>店铺营业状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<%= render partial:'stores/store_item', collection: @store_items %>
		</tbody>
	</table>
	<% if @store_items.any? %>
		<%= will_paginate @store_items %>
	<% end %>
</div>
